<html>

  <body style="font-family: sans-serif;">
    <h2>Ticket (ID: {{{TicketId}}}) status updated</h2>
    <p><strong>New Status:</strong> {{{NewStatus}}}</p>
    <p><strong>Title:</strong> {{{TicketTitle}}}</p>
    <p>Sign in to your account to view or reply to your ticket.</p>
  </body>

</html>