<html>

  <body style="font-family: sans-serif;">
    <h3>New Reply on Ticket (ID: {{{TicketId}}})</h3>
    <p><strong>Title:</strong> {{{TicketTitle}}}</p>
    <p style="white-space: pre-line;"><strong>Reply:</strong>
      {{{ReplyText}}}</p>
    <p>Sign in to your account to continue the discussion.</p>
  </body>

</html>