<html>

  <body style="font-family: sans-serif;">
    <h2>Your ticket (ID: {{{TicketId}}}) has been created!</h2>
    <p><strong>Title:</strong> {{{TicketTitle}}}</p>
    <p>We’ll keep you updated. You can view this ticket in your account at any
      time.</p>
  </body>

</html>